
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto !important;
}

body.dark-mode {
  .mat-mdc-list-item .mdc-list-item__primary-text {
    color: #e8eaed !important;
  }


  .mat-mdc-list-item .mat-icon {
    color: #bdc1c6 !important;
  }
}

